table{
    font-size: 14px;
}
thead tr{
    background-color: #e7f1ff;
}
thead tr th{
    border: 0px !important;
    color: #656565;
}
tbody tr>td:nth-child(2) {
    text-align: left;
    padding-left: 40px !important;
}
tbody tr td{
    padding: 15px 0px !important;
    border-top: 0px !important;
    border-bottom: 1px solid #dee2e6;
}
tbody tr:hover{
    cursor: pointer;
    background-color: #f6f6f6;
    transition: all ease 0.2s;
}

div#banner > table > tbody > tr > td:nth-child(2) {
    text-align: center;
    padding-left: 0px !important;
}

.title{
    font-size: 18px;
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
}

.search-box{
    float: right;
    padding: 5px 10px;
    max-width: 150px;
    height: 30px;
    border: 1px solid #0472FD !important;
    outline: none !important;
}
.search-type{
    float: right;
    padding: 5px 10px;
    max-width: 130px;
    height: 30px;
    border: 1px solid #0472FD !important;
    outline: none !important;
}
.search-icon{
    float: right;
    margin-left: 5px;
    height: 25px;
    cursor:pointer;
    opacity: 0.3;
    padding: 1px;
    transition: all ease 0.1s;
}
.search-icon:hover{
    opacity: 0.7;
    transition: all ease 0.1s;
}
input::placeholder{
    color:#D4D4D4;
    font-size: 14px;
}
