.pingpong{
    border : 1px solid #E3E3E3;
    padding : 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.pingpong:hover{
    /*box-shadow: 5px 5px 5px #6fd5ea;*/
    /*border : 1px solid #508893;*/
    transform: translateY(-5px);
    transition: all ease 0.3s;
}
.clickable{
    cursor: pointer;
    transition: all ease 0.1s;
}
.clickable:hover{
    color: #6CBACB;
    transition: all ease 0.1s;
}