.Menu-logo {
    padding: 7px 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    font-size: 16px;
    font-weight: bold;
}

.Menu-button {
    padding: 7px 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    font-size: 14px;
    color: dimgrey;
    font-weight: bold;
    transition: all ease 0.1s;
}

.Menu-button:hover {
    color: #0472FD;
    transition: all ease 0.1s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 테블릿 CSS */

}

@media screen and (max-width: 767px) {
    /* 모바일 CSS */

}
