.Menu {
    display: flex;
    justify-content: space-between;
}

.Menu-logo {
    padding: 7px 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    font-size: 16px;
    font-weight: bold;
}

.Menu-button {
    padding: 7px 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    font-size: 14px;
    color: dimgrey;
    font-weight: bold;
    transition: all ease 0.1s;
}

.Menu-button:hover {
    color: #0472FD;
    transition: all ease 0.1s;
}
.Menu-button-active {
    padding: 7px 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    font-size: 14px;
    color: #0472FD;
    font-weight: bold;
    transition: all ease 0.1s;
}

@media screen and (max-width: 768px) {
    .Menu-button {
        padding: 10px 30px;
    }
}
