.Menu-logo {
    padding: 7px 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    font-size: calc(10px + 1vmin);
    color: lightgrey;
    font-weight: bold;
}

.Menu-button {
    padding: 7px 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    font-size: calc(8px + 1vmin);
    color: dimgrey;
    font-weight: bold;
    transition: all ease 0.3s;
}
.Menu-button:hover{
    color:#6CBACB;
    transition: all ease 0.3s;
}
