.delete-style{
    float : right;
    font-size: 11px;
    color: #cdcdcd;
    cursor: pointer;
}
.delete-style:hover{
    color: #ff6262;
}

.recomment-style{
    float : right;
    font-size: 11px;
    color: #cdcdcd;
    cursor: pointer;
}
.recomment-style:hover{
    color: #404040;
}

.Board {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .Board {
        width: 100%;
        padding: 0 20px;
    }
}
