.delete-style{
    float : right;
    font-size: 11px;
    color: #cdcdcd;
    cursor: pointer;
}
.delete-style:hover{
    color: #ff6262;
}

.recomment-style{
    float : right;
    font-size: 11px;
    color: #cdcdcd;
    cursor: pointer;
}
.recomment-style:hover{
    color: #404040;
}