.App {
    text-align: center;
}
html, body{
    height:100%;
}
.blue-button{
    padding: 7px 14px;
    background-color: #0472FD !important;
    color: white !important;
    border-radius: 3px;
    transition: all ease 0.3s;
}
.blue-button:hover{
    background-color: #0567e3 !important;
    color:#FFFFFF !important;
    transition: all ease 0.3s;
}

.col-align{
    align-self: center;
}
.select-btn{
    float:left;
    margin: 0.5rem;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
.on{
    background-color: #0472FD !important;
    color: #ffffff !important;
}
.off{
    background-color: #F4F4F4 !important;
    color: #B8B8B8 !important;
}
.off:hover{
    background-color: #0472FD !important;
    color: #ffffff !important;
}
.page-link{
    color:#0472FD !important;
}
.page-item.active .page-link{
    background-color: #0472FD !important;
    border-color: #1863c1 !important;
    color: #ffffff !important;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1000px !important;
    }
}
body{
    overflow-x: hidden;
}

.search-bar{
    width: 90%;
    margin-top : auto;
    margin-left: auto;
    margin-right: auto;
}

.search-bar .input{
    width: 100%;
    font-size: 11px;
}
.search-bar .ui.input>input:focus{
    border: 1px solid #dbdbdb;
    /*box-shadow: 5px 5px 5px #0472FD;*/
    background-color: #e7f1ff;
    /*transition: all ease 0.3s;*/
}

.link-underline {
    margin-left: 10px;
    color: #0472fd;
    transition: all ease 0.2s;
}
.link-underline:hover {
    color: #85b7f5;
    cursor: pointer;
    text-decoration:underline;
    transition: all ease 0.2s;
}